<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConStr" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\oleks\source\repos\ADO.NET Homework 3\SageBook.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>